<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Med Xpress</title>
        <link rel="stylesheet" href="../static/db_loginstyle.css">
    </head>
    <body>
        <div class = "banner">
            <div class="content">
                <h1>Med Xpress</h1><br>
            </div>
            <form action="/login" id="pharmacy"class="login" method="POST">
                <h2>Log In</h2>
                <label for="">Username*:</label><br>
                <input type="text" id="username" placeholder="Username" required=""><br>
                <label for="">Password*:</label><br>
                <input type="password" id="password" placeholder="Password" required=""><br><br>
                <input type="submit" value="Log In"><br>
                <a href="{{url_for('register')}}">Don't have an account? Sign up</a>
            </form>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
        <script src="../login.js"></script>
    </body>
</html>