<!DOCTYPE html>
	<head>
		<title>Med Xpress</title>
		<link rel="stylesheet" href="../static/db_homestyle.css">
	</head>
	<body>
		<div class = "banner">
			<div class = "nav">
				<h1>
					Your guide to flawless choices...
				</h1>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Settings</a></li>	
					<li><a href="#">Help</a></li>
				</ul>
			</div>
			<div class = "tit">
				<h2>MedXpress</h2>
				<p>Search here</p>
			</div>
			
		</div>

	</body>
</html>