<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>MedXpress</title>
        <link rel="stylesheet" href="../static/db_signinstyle.css">
    </head>
    <body>
        <div class = "banner">
            <div class="content">
                <h1>MedXpress</h1><br>
                
            </div>
            <form action="" class="login" method="post">
                <h2>Sign up</h2>
                <label for="">Email address*:</label><br>
			    <input type="text" required=""><br>
                <label for="">Username*:</label><br>
                <input type="text" placeholder="Username" required=""><br>
                <label for="">Password*:</label><br>
                <input type="password"  name="password" placeholder="Password" required=""><br><br>
                <input type="submit" value="Sign Up"><br>
            </form>
        </div>
    </body>
</html>